body  		{ background: #ffffff; 
		  color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  font-style: normal; 
		  font-weight: normal; }
		  
a 		{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 10px; 
		  color:#000000;  
		  }
		  
a:hover		{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 10px; 
		  color: #ff3300;  
		  }

a.right		{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 10px;
		  text-decoration: none;
		  color:#000000;  
		  }
		  
a.right:hover	{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 10px; 
		  color: #ff3300; 
		  text-decoration: none;
		  }
		  
a.scorecard	{ font-family: Courier New;
		  font-size: 12px; 
		  color:#000000; 
		  text-decoration: none;
		  }
		  
a.scorecard:hover{ font-family: Courier New;
		  font-size: 12px; 
		  color: #ff3300; 
		  text-decoration: none;
		  }

a.statistics	{ font-family: verdana, arial, helvetica, sans-serif;
		  font-size: 10px; 
		  color:#000000; 
		  text-decoration: none;
		  }
		  
a.statistics:hover{ font-family: verdana, arial, helvetica, sans-serif;
		  font-size: 10px; 
		  color: #ff3300; 
		  text-decoration: none;
		  }

a.news		{ font-family: verdana, arial, helvetica, sans-serif;
		  font-size: 11px; 
		  color:#000000; 
		  text-decoration: underline;
		  }
		  
a.news:hover	{ font-family: verdana, arial, helvetica, sans-serif;
		  font-size: 11px; 
		  color: #ff3300; 
		  text-decoration: underline;
		  }
		  
		  
a.menu		{ font-family: verdana, arial, helvetica, sans-serif;
		  font-size: 10px; 
		  color:#006699; 
		  text-decoration: none; 
		  font-weight: bold; }
		  
a.menu:hover	{ font-family: verdana, arial, helvetica, sans-serif;
		  font-size: 10px; 
		  color: #ff3300; 
		  text-decoration: none; 
		  font-weight: bold; }		  
		  
th     	 	{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  font-style: normal; 
		  font-weight: normal; }
		  
td    		{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  font-style: normal; 
		  font-weight: normal; }
		  
.white		{ color: #FFFFFF; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-style: normal; 
		  font-weight: bold; }

.blackbar	{ 
		  font:7pt Arial;
		  color:white;
		}
.blackbar:hover { 
		  font:7pt Arial;
		  color:#ffcc00;
		}

.18px		{ color: #000000; 
		  font-family: verdana; 
		  font-size: 18px; 
		  font-style: normal; 
		  font-weight: bold; }
		  
.16px		{ color: #000000; 
		  font-family: verdana; 
		  font-size: 16px; 
		  font-style: normal; 
		  font-weight: bold; }		  
		  
.14px		{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 14px; 
		  font-style: normal; 
		  font-weight: bold; }
		
.12px		{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 12px; 
		  font-style: normal; 
		  font-weight: normal; }

.11px		{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  font-style: normal; 
		  font-weight: normal; }
		
.10px		{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 10px; 
		  font-style: normal; 
		  font-weight: normal; }
		
.9px		{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 9px; 
		  font-style: normal; 
		  font-weight: normal; }
		  
.8px		{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 8px; 
		  font-style: normal; 
		  font-weight: normal; }
		  
.7px		{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 7px; 
		  font-style: normal; 
		  font-weight: normal; }
		  
.6px		{ color: #000000; 
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 6px; 
		  font-style: normal; 
		  font-weight: normal; }
		  
.newsdate 	{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 9px; 
		  font-style: normal; 
		  font-weight: normal; 
		  color: #8e8e8e; }

.newsauthor 	{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 9px; 
		  font-style: normal; 
		  font-weight: normal; 
		  color: #000000; }
		  
.newstitle 	{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 12px; 
		  font-style: normal; 
		  font-weight: bold; }	

.newsoption 	{ font-family: impact; 
		  font-size: 14px; 
		  font-style: normal; 
		  font-weight: bold; 
		  color: #ADADAD; }	
		  
.main 		{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  font-style: normal; 
		  font-weight: normal; 
		  color: #333333; }

.whitemain 	{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 9px;	
		  font-style: normal; 
		  font-weight: bold; 
		  color: #ffffff; }		

.footer 	{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 9px; 
		  color: white; 
		  text-decoration: none; 
		  font-weight: bold; }
		  
.footer:hover 	{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 9px; 
		  color: #ff3333; 
		  text-decoration: none; 
		  font-weight: bold; }

input 		{ background-color: #ffffff;
		  border: 1px solid #A4B97F;
		  color: #000000;
		  font-family: Courier New;
		  font-size: 9pt;
		  /*margin: 0px 0px 0px 10px;
		  padding: 1px 0px 1px 0px; */   }
		  
input.submit	{ color: #000000;
		  font-family: Courier New;
		  font-size: 9pt;
		  background-color: #ffffff;
		  border: 2px outset #d7b9c9;} 

select 		{ background-color: #FFFFFF;
		  border: 1px solid #A4B97F;
		  color: #000000;
		  font-family: verdana, arial, helvetica, sans-serif;
		  font-size: 10px;
		  }

textarea	{ border-color:#000000;
		  border: 1px solid #000000;
		  font-family: Courier New;
		  font-size:9pt;
		  color:#000000;
		  background-color:#E7E7E7; 
		  margin: 0px 0px 0px 10px;
		  padding: 1px 0px 1px 3px; }		  

.datatable	{ border: 1px solid #DCDCDC; }

.trhighlight	{ background: #E1E4B2; }
		  
.trrowh		{ background: #C1C1C1;
		  border: 1px solid #DCDCDC;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  font-weight: bold; 
		  color: #000000; }		  
	
.trrow1		{ background: #FFFFFF;
		  border: 1px solid #DCDCDC;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  color: #000000; }
		  
.trrow2		{ background: #ECECEC;
		  border: 1px solid #DCDCDC;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  color: #000000; }

.trrowgreen	{ background: #DCF4C2;
		  border: 1px solid #DCDCDC;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  color: #000000; }
		  
.trtop		{ background: #000000;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  color: #FFFFFF;
		  font-weight: bold; }

		  
.trbottom 	{ background: #F5F6F6;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  color: #000000; }

.boxblack	{ background: #000000;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 10px;	
		  font-style: normal; 
		  font-weight: bold; 
		  color: #ffffff; }	

.boxred		{ background: #9E3228;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 10px;	
		  font-style: normal; 
		  font-weight: bold; 
		  color: #ffffff; }	

.boxgrey	{ background: #C6BBB3;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 10px;	
		  font-style: normal; 
		  font-weight: bold; 
		  color: #000000; }
.photo 		{ font-family: tahoma; 
		  font-size: 11px; 
		  float:center; padding:10px; 
		  text-align:center; 
		  border-width:1px; 
		  border-style:solid; 
		  border-color:#E7E1DD; 
		  background-color:#E7E1DD; 
		}
.newsList 	{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  font-weight: normal; 
		  list-style-image: url(/images/list_bullet.gif);
		}
.scorecard 	{ font-family: Courier New; 
		  font-size: 12px; 
		  font-weight: normal; 
		}	
.statistics 	{ font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  font-weight: normal; 
		}
.standings 	{ font-family: Courier New; 
		  font-size: 13px; 
		  font-weight: normal; 
		}		
.tablehead 	{
		color: #000;
		font-style: normal;
		font-size: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		background:#dcdcdc;
 		vertical-align:top;
		width: 100%;

		}

.tablehead a:link, .tablehead a:visited {
		color: #000; 
		}

.tablehead a:hover {
	color: #FF0000;
}			

.colhead {
	background:#c1c1c1;
	color: #000;
	font-weight: bold;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.colhead a:link, .colhead a:visited {
	color: #000;
}

.colhead a:hover {
	color: #FF0000;
}	

.stathead {
	color: #FFF;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}		

.modborder	{ background: #FFFFFF;
		  border: 1px solid #DCDCDC;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  color: #000000; }

.modheadborder	{ background: #6C6C6C;
		  border: 1px solid #6C6C6C;
		  font-family: verdana, arial, helvetica, sans-serif; 
		  font-size: 11px; 
		  color: #FFFFFF; }