
.top-nav tr, .top-nav .mouseout {
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: arial, verdana, helvetica;
    font-size: 8pt;
    color: #ffffff;
    background-color: #990000;
}

.top-nav .mouseover {
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: arial, verdana, helvetica;
    font-size: 8pt;
    color: #ffffff;
    cursor: pointer;
    cursor: hand;
    background-color: #7289A0;
}

.logo {
    background-image:  url('/main/images/topleft_logo.gif');
    background-position:  center;
    background-repeat: no-repeat
}

body { background: #ffffff; 
    color: #000000; 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt; 
    font-style: normal; 
    font-weight: normal; 
}

a { 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt; 
    color:#333333;  
    text-decoration: none;
}

a:hover	{ 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt; 
    color: #333333;  
    text-decoration: underline;
}

a.links	{ 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt;
    text-decoration: none;
    color:#333333;  
}

a.links:hover { 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt; 
    color: #333333; 
    text-decoration: underline;
}

a.7pt { 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 7pt;
    text-decoration: none;
    color:#333333;  
}

a.7pt:hover { 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 7pt; 
    color: #333333; 
    text-decoration: underline;
}

th { 
    color: #000000; 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt; 
    font-style: normal; 
    font-weight: normal; 
}

td { 
    color: #000000; 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt; 
    font-style: normal; 
    font-weight: normal; 
}

.trtop { 
    background: #990000;
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 10pt; 
    color: #FFFFFF;
    font-weight: bold; 
}

.trbottom { 
    background: #D8E0E4;
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt; 
    color: #000000;
}

.trrow1	{ 
    background: #ECECEC;
    border: 1px solid #DCDCDC;
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt; 
    color: #000000; 
}

.trrow2	{ 
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 8pt; 
    color: #000000; 
}
		  
.header { 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 13pt; 
    color: #005984;
}

.newsdate { 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 7pt; 
}

.textinput {
	font-family: Trebuchet MS;
	font-size: 11px;
	color: #686868;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #9BAAAF;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AABBBF;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #9BAAAF;

	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #9BAAAF;	
	padding-right: 3px;
	padding-left: 3px;
  background-image:   url(images/txtboxbg.gif);

}

.textarea {
	font-family: Trebuchet MS;
	font-size:11px;
	color: #686868;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #9BAAAF;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AABBBF;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #9BAAAF;

	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #9BAAAF;	
	padding-right: 3px;
	padding-left: 3px;

}

.listbox {
	font-family: Trebuchet MS;
	font-size: 11px;
	border: groove 1px;
}

.button {
	font-family: Trebuchet MS;
	font-size: 11px;
	border: 1px solid #AABBBF;
	background-color : #FFFFFF;
  color:#404F59;
	background-image: url("images/btn_bg.gif");
	padding: 2px;
}

.maintable {
	border: 1px solid #99a0aa;
	margin-top: 0px;
	margin-bottom: 0px;
}

.tableh1 {
  color:#433D27;
  font-size: 11px;
  height: 26px;
  background-image:   url(images/tile_back1.gif);
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 8px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #CED2D6;
}

.tableh2 {
	background-image:  url(images/tile_sub.gif);
	background-color: #708088 ;
	border-left: 1px solid #95A5AD;
	border-right: 0px solid #62727A;
  margin: 0px;
	color : white;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	font-size: 11px;
	font-weight: bold;
}

.tableb {
	background-color: #E4E8E8 ;
	padding-top: 6px;
	padding-right: 11px;
	padding-bottom: 6px;
	padding-left: 11px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	line-height: 16px;
}

.tablec {
	background-color: #d8e0e4;
	padding-top: 3px;
	padding-right: 11px;
	padding-bottom: 3px;
	padding-left: 11px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

/* Text Editor classes */

.tdBtn {
  padding-left: 3px;
  padding-top:3px;
}

.btnOut {    
  border: 1px solid;
  border-color: #E4E8E8;
	background-color: #E4E8E8;
}

.btnOver {    
  border: 1px solid;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-right-color: #C0C4C4;
  border-bottom-color: #C0C4C4;
	background-color: #E4E8E8;
	cursor: hand;
}

.btnDown {    
  border: 1px solid;
  border-top-color: #C0C4C4;
  border-left-color: #C0C4C4;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
	background-color: #D4D8D8;
	cursor: hand;
}

a.flatButton img {
  border: 1px solid #E4E8E8;
  border-color: #d8e0e4;
}

a.flatButton:hover img {
  border: 1px solid;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-right-color: #C0C4C4;
  border-bottom-color: #C0C4C4;
	background-color: #E4E8E8;
	cursor: hand;
}

.6pt  { font-size: 6pt; }
.7pt  { font-size: 7pt; }
.8pt  { font-size: 8pt; }
.9pt  { font-size: 9pt; }
.10pt { font-size: 10pt; }
.11pt { font-size: 11pt; }

   
.rel {POSITION: relative; width:100%;}
.abs {POSITION: absolute; width:100%;}
.right { text-align:right; }
.left { text-align:left; }
.center { text-align:center; }
   